@model Urun

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<link href="~/css/UrunDetaylari.css" rel="stylesheet" />


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="/img/@Model.resim" /></div>
                    </div>


                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.ad</h3>
                    <p>@localizer["Öğrencilerimizin derslerine yardımcı kitaplar."]</p>
                    
                    <h4 class="price">@localizer["Ürün Fiyatı"]: <span>@Model.fiyat TL</span></h4>
                    <div class="action">
                        <a asp-action="Index" asp-controller="Home" asp-route-id="@Model.id" class="geri-don btn btn-default" type="button">@localizer["Geri Dön"]</a>
                        <a asp-action="SepeteEkle" asp-controller="Sepet" asp-route-id="@Model.id" class="add-to-cart btn btn-default" type="button">@localizer["Sepete ekle"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/Yorum.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="be-comment-block">
        <h1 class="comments-title">@localizer["Yorumlar"] </h1>
        @await Component.InvokeAsync("YorumComponent", new { urunId = Model.id })

        @using (Html.BeginForm("UrunDetay", "Home", FormMethod.Post))
        {
            <form class="form-block">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <input class="form-input" type="text" name="txtAd" placeholder="Your name">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-input" required="" name="txtYorum" placeholder="Your text"></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" value=@localizer["Yorum Yap"] />

                </div>
            </form>}


    </div>
</div>

