@model UrunGuncelleme

<form asp-action="Guncelle" asp-controller="Home" asp-area="Admin" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="@Model.id" />
        <label>Ürün Adı : </label>
        <span asp-validation-for="@Model.ad" class="text-danger"></span>
        <br />
        <input asp-for="@Model.ad" />
    </div>

    <div class="form-group">
        <label>Ürün Fiyat : </label>
        <span asp-validation-for="@Model.fiyat" class="text-danger"></span>
        <br />
        <input asp-for="@Model.fiyat" />




    </div>

    <div class="form-group">
        <label>Ürün Resmi : </label>
        <input type="file" asp-for="@Model.resim" class="form-control-file" />

    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-warning">Geri Dön</a>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>

</form>

@section JavaScript {
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}