@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/CreditCard.css" rel="stylesheet" />
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-4">
                <div class="payment-card">
                    <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                    <h2>
                        **** **** **** 1060
                    </h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <small>
                                <strong>Expiry date:</strong> 10/16
                            </small>
                        </div>
                        <div class="col-sm-6 text-right">
                            <small>
                                <strong>Name:</strong> David
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment-card">
                    <i class="fa fa-cc-mastercard payment-icon-big text-warning"></i>
                    <h2>
                        **** **** **** 7002
                    </h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <small>
                                <strong>Expiry date:</strong> 10/16
                            </small>
                        </div>
                        <div class="col-sm-6 text-right">
                            <small>
                                <strong>Name:</strong> Anna Smith
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment-card">
                    <i class="fa fa-cc-discover payment-icon-big text-danger"></i>
                    <h2>
                        **** **** **** 3466
                    </h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <small>
                                <strong>Expiry date:</strong> 10/16
                            </small>
                        </div>
                        <div class="col-sm-6 text-right">
                            <small>
                                <strong>Name:</strong> Morgan
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        @localizer["Ödeme Metodu"]
                    </div>
                    <div class="ibox-content">

                        <div class="panel-group payments-method" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="fa fa-cc-paypal text-success"></i>
                                    </div>
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PayPal</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2>@localizer["Özet"]</h2>
                                                <strong>@localizer["Toplam Tutar"]:</strong>: <span class="text-navy">@ViewBag.fiyat TL</span>
                                                <a class="btn btn-success" asp-action="Tesekkur" asp-controller="Sepet">
                                                    <i class="fa fa-cc-paypal">
                                                        Paypal
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="fa fa-cc-amex text-success"></i>
                                        <i class="fa fa-cc-mastercard text-warning"></i>
                                        <i class="fa fa-cc-discover text-danger"></i>
                                    </div>
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Credit Card</a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <h2>@localizer["Özet"]</h2>

                                                <strong>@localizer["Toplam Tutar"]:</strong>: <span class="text-navy">@ViewBag.fiyat TL</span>


                                            </div>
                                            <div class="col-md-8">

                                                <form role="form" id="payment-form">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>@localizer["Kart Numarası"]</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" name="Number" placeholder=@localizer["Kart Numarası"] required="">
                                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-7 col-md-7">
                                                            <div class="form-group">
                                                                <label>@localizer["Son Kullanma Tarihi"]</label>
                                                                <input type="text" class="form-control" name="Expiry" placeholder="MM / YY" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-md-5 pull-right">
                                                            <div class="form-group">
                                                                <label>CV KOD</label>
                                                                <input type="text" class="form-control" name="CVC" placeholder="CVC" required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>@localizer["Kart İsmi"]</label>
                                                                <input type="text" class="form-control" name="nameCard" placeholder="İSİM VE SOYİSİM">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <a class="btn btn-primary" type="submit" asp-action="Tesekkur" asp-controller="Sepet">@localizer["Öde"] </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>