@model List<Urun>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<a asp-action="Ekle" asp-controller="Urun" asp-area="Admin" class="btn btn-primary
   btn-sm my-2">@localizer["Ekle"]</a>
<table class="table table-sm table-bordered table-hover mt-2">

    <tr>
        <th>Id</th>
        <th>@localizer["Kategorileri"]</th>
        <th>@localizer["Ad"]</th>
        <th>@localizer["Fiyat"]</th>
        <th>@localizer["İşlemler"]</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>
                <getirKategoriAd urun-id="@item.id"></getirKategoriAd>
            </td>
            <td>@item.ad</td>
            <td>@item.fiyat</td>
            <td>
                <a asp-action="Guncelle" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-warning btn-sm">@localizer["Güncelle"]</a>
                <a asp-action="Sil" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-danger btn-sm">@localizer["Sil"]</a>
                <a asp-action="KategoriAta" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-warning btn-sm">@localizer["Kategori Ata"]</a>
            </td>


        </tr>
    }





</table>