@model List<Urun>

<a asp-action="Ekle" asp-controller="Urun" asp-area="Admin" class="btn btn-primary 
   btn-sm my-2">Ekle</a>
<table class="table table-sm table-bordered table-hover mt-2">

    <tr>
        <th>Id</th>
        <th>Kategorileri</th>
        <th>Ad</th>
        <th>Fiyat</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>
                <getirKategoriAd urun-id="@item.id"></getirKategoriAd>
            </td>
            <td>@item.ad</td>
            <td>@item.fiyat</td>
            <td>
                <a asp-action="Guncelle" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-warning btn-sm">Güncelle</a>
                <a asp-action="Sil" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-danger btn-sm">Sil</a>
                <a asp-action="KategoriAta" asp-controller="Urun" asp-route-id="@item.id" asp-area="Admin" class="btn btn-warning btn-sm">Kategori Ata</a>
            </td>


        </tr>
    }

    



</table>